<template>
    <div class="message-box__item" v-bind:class="[isOutgoing ? 'outgoing' : 'incoming']">
        <div v-if="!this.isOutgoing" class="name">{{ this.name }}</div>

        <div class="box-text">
            {{ this.text }}
            <div class="time">{{ this.time.getHours() }}:{{ this.time.getMinutes() }}</div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        idMessage: Number,
        isOutgoing: Boolean,
        name: String,
        text: String,
        time: Date
    }
};
</script>

<style scoped>
.message-box__item {
    margin-bottom: 15px;
}
.message-box__item.incoming {
    text-align: left;
}
.message-box__item.incoming .time {
    right: 0;
}
.message-box__item.outgoing {
    text-align: right;
}
.message-box__item.outgoing .time {
    left: 0;
}
.message-box__item .name {
    color: #535357;
    font-size: 16px;
    font-weight: 400;
}
.message-content .message-box .message-box__item .box-text {
    background: #f0f2f4;
    display: inline-block;
    padding: 20px 15px;
    padding-right: 50px;
    font-size: 16px;
    color: #535357;
    border-radius: 7px;
    max-width: 90%;
    margin-top: 10px;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}
.message-content .message-box .message-box__item .box-text .time {
    position: absolute;
    bottom: -25px;
    font-size: 13px;
    color: #939397;
}
/*# sourceMappingURL=style.css.map */
</style>
