<template>
    <div class="message-content">
        <div class="message-content__item">
            <div class="message-content-header">
                <div class="name">Ackermann Blockchain</div>
                <div class="phone">+41 79 889 86 94</div>
            </div>
        </div>

        <div class="message-box">
            <message
                v-for="message in this.messages"
                :key="message.idMessage"
                :name="message.name"
                :text="message.text"
                :time="message.time"
                :isOutgoing="message.isOutgoing"
            ></message>
        </div>

        <div class="message-form">
            <input type="text" placeholder="Type your message here" />
            <i class="fas fa-paper-plane"></i>
            <!-- <img src="img/submit.png" alt="" /> -->
        </div>
    </div>
</template>

<script>
import Message from "./Message";

export default {
    components: {
        Message
    },
    data() {
        return {
            messages: [
                {
                    idMessage: 0,
                    isOutgoing: false,
                    name: "HUB",
                    text: "Blockchain",
                    time: new Date(2020, 3, 11, 11, 17, 0, 0)
                },
                {
                    idMessage: 1,
                    isOutgoing: true,
                    name: "Ackermann",
                    text: "C'est vrai",
                    time: new Date(2020, 3, 11, 11, 17, 0, 0)
                },
                {
                    idMessage: 2,
                    isOutgoing: true,
                    name: "Ackermann",
                    text: "Je suis blockchain",
                    time: new Date(2020, 3, 11, 11, 18, 0, 0)
                },
                {
                    idMessage: 3,
                    isOutgoing: true,
                    name: "Ackermann",
                    text: "C'est moi",
                    time: new Date(2020, 3, 11, 11, 18, 0, 0)
                },
                {
                    idMessage: 4,
                    isOutgoing: false,
                    name: "HUB",
                    text: "Effectivement",
                    time: new Date(2020, 3, 11, 12, 17, 0, 0)
                },
                {
                    idMessage: 5,
                    isOutgoing: false,
                    name: "HUB",
                    text: "C'est moi",
                    time: new Date(2020, 3, 11, 12, 19, 0, 0)
                }
            ]
        };
    }
};
</script>

<style scoped>
.message-content {
    background: #fff;
    border-radius: 7px;
    box-shadow: 9px 9px 30px 0px rgba(1, 50, 101, 0.21);
    max-width: 50%;
    height: 100%;
    position: relative;
    margin: auto;
    text-align: center;
}
.message-content .message-content__item .message-content-header {
    border-bottom: 1px solid #e0e2e4;
    padding: 20px 15px;
    position: relative;
    height: 95px;
}
.message-content .message-content__item .message-content-header .name {
    font-size: 21px;
    color: #535357;
    font-weight: 500;
}
.message-content .message-content__item .message-content-header .phone {
    font-size: 16px;
    color: #a3a3a7;
}
.message-content .message-content__item .message-content-header img {
    position: absolute;
    top: 30px;
    right: 15px;
}
.message-content .message-box {
    padding: 25px;
    height: calc(100% - 175px);
}
.message-content .message-form {
    height: 75px;
    border-top: 1px solid #e0e2e4;
    padding: 20px 15px;
}
.message-content .message-form input {
    width: calc(100% - 50px);
    border: none;
    font-size: 16px;
    margin-top: 5px;
}
.message-content .message-form i {
    float: right;
    margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
</style>
