<template>
    <div id="app">
        <message-handler></message-handler>
    </div>
</template>

<script>
import MessageHandler from "./components/MessageHandler";

export default {
    name: "App",
    components: {
        MessageHandler
    }
};
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 60px;
    margin: auto;
}
</style>
